                <div class='col-sm-3' id='<%= camera.uuid %>'>
                    <h4>
                        <a href='graph.html?uuid=<%= camera.uuid %>'><%= camera.name %></a>
                    </h4>
		    <a href='' data-toggle='lightbox'>
                      <img src='test-pattern.jpg' class='img-fluid img-thumbnail' style='object-fit: contain'>
		    </a>
                </div>
