	       <div class='col-sm-4' id='<%= server.uuid %>'>
	        <h3>
	          <a href='graph.html?uuid=<%= server.uuid %>' class='name'>Name</a>
	        </h3>
	        <table>
		  <tr>
		    <td>
		      Uptime:
		    </td>
		    <td class='uptime' colspan='2'>
		    </td>
		  </tr>
		  <tr>
		    <td>
		      Load average:
		    </td>
		    <td class='load-average' colspan='2'>
		    </td>
		  </tr>
		  <tr>
		    <td>
		      Memory:
		    </td>
		    <td class='memory' colspan='2'>
		    </td>
		  </tr>
		  <tr class='filesystems'>
		    <td>Filesystems:</td>
		  </tr>
	        </table>
              </div>
